/* css variables for easily changing colors */
:root{
    --header:#E84855;
    --body:#3185FC;
    --aside:#403F4C;
    --footer:#F9DC5C;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/* For taking away the underline mostly*/
a{
    text-decoration: none; 
}

header{
    background-color: var(--header);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
}

h1{
    font-size: 3rem;
}

nav ul li{
    display: inline;
    text-decoration: none;
    font-size: larger;
    margin-right: .5rem;
}

nav ul li a{
    color: #fff;
}

/* without width it will be abnormally large */
/* get rid of random background color sneaking thru by changing img to block from inline*/
section img {
    width: 100%;
    display: block;
}

aside{
    background-color: var(--aside);
    padding: 1rem;
    color: #fff;
    border-color: var(--aside);
}

.carousel-item img {
    opacity: 95%;
}

#about{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about p{
    font-size: large;
}

h2{
    padding: 1rem;
    font-size: 2.5rem;
    text-align: center;
}

#profile {
    width: 10%;
}

#projectContainer{
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
}

.promo{
    margin: auto;
    width: 90%;
    text-align: center;
    padding: 1rem;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 1rem;
}

.card {
    min-height: 350px;
    width: 40%;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 1rem;
  }

footer{
    background-color: var(--footer);
    padding: 1rem;
    text-align: center;
}

footer ul li a{
    color: #403F4C}

h3{
    font-size: 1.5rem;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

.proj{
    /* min-height: 500px; */
    overflow: hidden;
    /* position: relative; */

}

.proj iframe{
    left: 0;
    height: 500px;
    width: 100%;
}

.navbar {
    background: var(--body);
}

.carousel-caption{
    margin-top: 20%;
    margin-bottom: 20%;
    background: rgba(0,0,0, .6);
}

.carousel-caption h3{
    color: #fff;
}

.carousel-caption p {
    color: #fff;
}

@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
    /* Change the header color */
    header {
      background: #D64933;
    }
    aside{
        background: #2B303A;
    }
    footer{
        background: #BAC1B8;
    }

  }

  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
    /* Change the header color */
    header {
      background: #58A4B0;
    }
  }
  
  /* Added so that the nav items are seperate from the title. */
  @media screen and (max-width: 508px){
    header{
        flex-direction: column;
        
    }
  }
